.user_dashboard{
    display: flex;
    height: 100%;
    width: auto;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 5rem 7rem 3rem 3rem;
    box-sizing: border-box;
    overflow: scroll;
}
.user-aside{
    width: 26.6rem;
    height: 100%;
    background-color: #FFFFFF;
}

.dashboard{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    z-index:-1;
    background-color: #F7F8FA;
}

.invoice__generate{
    width: 16.3rem;
    height: 3.3rem;
    background: #27AE60;
    border-radius: 3.0rem;
    box-sizing: border-box;
    color: #FFFFFF;
    margin: 3rem 2rem 3.2rem 3rem;
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2px;
    padding: 1rem 2.3rem;
}

.main{
font-size: 11px;
line-height: 15px;
margin-left: 5rem;
color: #647787;
margin-bottom: 1.4rem;
}